@charset "UTF-8";
/* CSS Document */

html {
	font-size: 18px;
	line-height: 1.4;
}

body {
	margin: 0px;
	padding: 0px;
}

.content {
	width: 960px;
	font-size: 1rem;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 100;
	margin: auto;
	
}

 .row-full{
 width: 100vw;
 position: relative;
 margin-left: -50vw;
/* height: 100px;
 margin-top: 100px;*/
 left: 50%;
}


	/*  TOP NAV  */

.top-nav {
	background-color: cadetblue;
	color: snow;
	display: inline-flex;
	width: 960px;
	margin-top: 1rem;
	position: fixed;
	z-index: 10;
	
	/*margin-left: auto;
	margin-right: auto;
	
	justify-content: center;
	align-content: center;*/
	
}

.top-nav img {
	width: auto;
	height: 1.5rem;
	margin: auto;
	margin-left: 2rem;
	margin-right: 1rem;
}

.top-nav p {
	font-weight: 100;
	font-size: 1rem;
	width: 50%;
}

.top-nav nav {
	text-decoration: none;
	width: 50%;
	padding-top: 1rem;
	text-align: right;
}

.top-nav a {
	color: snow;
	margin-right: 2rem;
	text-decoration: none;
}



.main-banner {
	background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png);
	height: 30rem;
	margin-top: 0px;
	padding: 0px;
	background-size: cover;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.headline-container {
	width: 1032px;
	display: inline-flex;
	justify-content: flex-end;
	
	
	/*margin-left: auto;
	margin-right: auto;*/
	margin:  0 auto;
	
}

.headline {
	background-color: snow;
	width: auto;
	margin: 0px;
	padding: 1.5rem 5rem;
}

.headline h1 {
	padding: 0px;
	margin: 0px;
	width: auto;
}
